/*-----------------------------
    Accordion Item
-----------------------------*/
.faq-item{
  background-color: $white;
  border: 3px solid transparent;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 30px;
  transition: all 0.3s;
  .faq-title{
    font-size: 20px;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    @media only screen and (max-width: 991px) {
      font-size: 18px;
    }
    .title{
      width: calc(100% - 60px);
      display: inline-block;
      font-family: var(--heading-font);
      font-weight: 600;
      margin-bottom: 0;
      span{
        color: var(--heading-color);
        font-family: var(--heading-font);
        margin-right: 8px;
      }
    }
  }
  .faq-content{
    display: none;
    padding-top: 30px;
    .faq-list-area{
      background-color: rgba(232, 0, 0, 0.1);
      padding: 20px;
      border-radius: 6px;
      margin-top: 20px;
      .title{
        margin-bottom: 15px;
      }
    }
    .faq-list{
      margin-bottom: -10px;
      li{
        padding-bottom: 10px;
        color: var(--heading-color);
        padding-left: 20px;
        position: relative;
        &::before{
          position: absolute;
          content: '';
          top: 7px;
          left: 0;
          width: 8px;
          height: 8px;
          background-color: var(--main-color-one);
          border-radius: 50%;
        }
      }
    }
    .faq-inner-thumb-area{
      margin-top: 30px;
      .faq-inner-thumb{
        img{
          width: 100%;
        }
      }
    }
  }
  .right-icon{
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(232, 0, 0, 0.1);
    border-radius: 50%;
    position: relative;
    &::after{
      border-bottom: 2px solid var(--main-color-one);
      border-right: 2px solid  var(--main-color-one);
      content: '';
      display: block;
      height: 13px;
      margin-top: 0;
      pointer-events: none;
      position: absolute;
      margin-top: -9px;
      right: 13px;
      top: 50%;
      -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 13px;
    }
  }
  &.active{
    .faq-content{
      display: block;
    }

  }
  &.open{
    border: 3px solid var(--main-color-one);
    .right-icon{
      &::after{
        border-top: 2px solid var(--heading-color);
        border-left: 2px solid var(--heading-color);
        border-bottom: none;
        border-right: none;
        margin-top: -2px;
      }
    }
  }
}